.weekview-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-right: 2rem;
}

.weekview-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}